.resortItem {
    /* background: white;
    border:solid;
    border-width: 2px;
    border-color: paleturquoise; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
  }
  .resortItem > hr{
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em -12px;
  }
  
  .resort_list_item_title {
    /* border:solid;
    border-width: 2px;
    border-color: paleturquoise; */
    padding: 0px;
    color: green;
  }
  
  .resort_list_item_content {
    /* border:solid;
    border-width: 2px;
    border-color: paleturquoise; */
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .resort_list_item_img_wrap {
    /* border:solid;
    border-width: 2px;
    border-color: blue; */
    display: flex;
    flex-grow: 2;
    float: left;
    /* max-width: 600px; */
    min-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
  }
  
  .resort_list_item_text {
    /* border: solid;
    border-width: 2px;
    border-color: greenyellow; */
    position: relative;
    float: right;
    /* padding-left: 10px; */
    /* width: calc(100% - 320px); */
  }
  
  .infor_table{
    /* border:solid;
    border-width: 2px;
    border-color: brown; */
    min-width: 300px;
    max-height: 400px;
    min-height: 200px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 60px;
  }

  .resort_list_item_btn{
    font-size: 1rem;
    min-width: 10rem;
    min-height: 3rem;
    position: absolute;
    right: 10px;
    bottom:20px;
    display: flex;
    flex-direction: row;
  }

  .resort_list_item_btn button {
    font-size: 1rem;
    min-width: 5rem;
    margin-left: 1rem;
    border-radius: 5px;
    height: 2rem;
    position: relative;
    background-color: rgb(91,192,222);
  }
 
  .details + .title {
    margin-top: 25px;
  }
  
  