/* webcam  */
.webcam_container
{
display: flex;
flex-direction: column;
text-align: left;
width:100%;
margin:0 auto;
}
.webcam_container .webcam_btn
{
margin-top: 10px;
margin-bottom: 20px;
margin-right: 20px;
border-radius: 5px;
font-size: 1rem;
min-width: 5rem;
min-height: 2rem;
/* position: relative; */
background-color: rgb(92,184,92);
}
.webcam_img {
    margin-top: 10px;
    width: 220px;
    height: 165px;
}